
/* detalle pelicula*/
.titulo-peli{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 50px;
    margin: 0%;
    display: flex;
}

.bloque-pelicula{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.imagen-pelicula{
    width: 50%;
}

.peli{
    width: 50%;
    margin: 5% ;
}

.imagen-pelicula .portada-pelicula{
    width: 100%;
    height: 400px;
    margin: 5%;
}

.bloque-sinopsis-peli{
    display: flex;
    background-color: rgba(135, 124, 172, 0.575);
    width:100%;
    padding: 4%;
}

.bloque-sinopsis-peli p{
    text-align: justify;
}

a{
    color: white;
}
