/* INICIO */
.peliculas-populares{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.art-peliculas{
    border-radius: 10px;
    background: rgba(135, 124, 172, 0.575);
    width:15%;
    margin-top: 20px
}
a img{
    width:95%;
    height: 290px;
    padding: 10px 10px;
    border: 0px;
 }

 .titulos-inicio{
     font-family: 'Bebas Neue', cursive; 
     font-size: 35px;
     margin: 0px;
 }
.art-peliculas .titulos-inicio{
    text-align: center;
}

.art-peliculas p{
    text-align: center;
}