*{
    box-sizing: border-box;
}
body{
    background: url("https://p4.wallpaperbetter.com/wallpaper/363/97/65/dark-purple-blur-gradation-wallpaper-preview.jpg") no-repeat;
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

.main-container{
    width: 100%;
}


@media (max-width: 768px){
/* index */
   
   .art-peliculas p{
       display: none;
   }
   .art-peliculas1 p{
    display: none;   
    }
    .art-peliculas2 p{
        display: none;
    }
    
    .botones1{
        display: none;
    }

    .titulos-inicio{
        font-size: 25px;
    }
    .iconos{
        display: none;
    }
    .footer-abajo{
        margin: 0px;
        align-items: center;
    }

    h2 {
        font-size: 25px;
    }

    div img{
        width: 100%;
        height: 215px;
    }
    
  /* detalle pelicula */
     .bloque-pelicula{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .bloque-pelicula section{
        width: 80%;
    }
    
    .portada-pelicula{
        width: 100%;
        height: auto;
        margin: 5%;
    }
    
    /* tamaño del article */
    .art-peliculas{
        width: 19%;
    }
    .art-peliculas2{
        width: 19%;
    } 
}

  @media (max-width: 430px){
    /* index */    
    div.botones{
        padding: 0px;
    }

   .botones a{
        display: none;
    }
    .botones1{
        display: none;
    }

    .contenedor{
        justify-content: center;
    }

    h2{
        font-size: 16px;
    }

    .art-peliculas2{
        display: none;
    }

    .art-peliculas{
        width: 75%;
        margin: 5px;
    }

    .peliculas-populares{
        flex-direction: column;
        align-items: center;
    }
    
    
    /* detalle peli */
    .titulo-peli{
        font-size: 36px;
    }
    .imagen-pelicula .portada-pelicula{
        width: 95%;
        height: 130px;
        
    }

    div img{
        width: 100%;
        height: 400px;
    }
   
}

 